html{
    background-color: black;
    color: white;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid white;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 20px 0;
    text-shadow: 3px 3px 1px grey;
}

p{
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

li {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Piedra', cursive;
    font-size: 60px;
    text-align: center
}